<!DOCTYPE html>
<html>
    <head>
         <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
         <link rel="stylesheet" href="my-style.css">
          <link rel="stylesheet" href="style-test.css">
    </head>  
    
    <body>
        <div id="mainContainer"></div>
        <script src="bundle.js"></script>
    </body>
</html>
